*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Calisto MT", sans-serif;
  color: #333;
}

.navbar{
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  border-bottom: 1px solid #f2f2f2;

  .nav-title{
    cursor: pointer;
    padding-left: 50px;
    color: #f1356d;
    font-size: 28px;
    font-family: Gabriola, sans-serif;
  }

  .links{
    margin-left: auto;

    .nav-link{
      cursor: pointer;
      text-decoration: none;
      margin-left: 15px;
      padding: 5px;
      font-size: 20px;

      &:hover{
        color: #f1356d;
      }
    }
  }
}

.home{
  display: flex;
  margin: 10px 20px;

  .loading-text{
    text-align: center;
    margin: 100px auto;
  }

  .error-text{
    text-align: center;
    margin: 100px auto;
    color: crimson;
  }
}

.blog-list{
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 20px 40px;
  width: 70%;
  margin: 0 auto;

  .title{
    font-size: 26px;
    padding: 10px 30px;
  }

  .blogs-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .blog-preview{
      padding: 10px 15px;
      margin: 20px 0;
      border-bottom: 2px solid #fafafa;
      cursor: pointer;
      width: 700px;
      max-width: 800px;

      &:hover{
        box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
      }

      a {
        text-decoration: none;

        .blog-title{
          font-size: 20px;
          color: #f1356d;
          margin-bottom: 8px;
          text-align: start;
          padding: 0 20px;
        }

        .blog{
          display: flex;
          flex-direction: column;

          .blog-author{
            span{
              color: #f1356d;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

.blog-details{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 80%;
  max-width: 1000px;
  margin: 20px auto;

  article{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding: 20px;

    .blog-title{
      color: #f1356d;
      font-size: 40px;
      font-weight: bold;
    }
    .blog-author{
      font-size: 24px;
      span{
        color: #f1356d;
        font-weight: bold;
      }
    }
    .blog-body{
      height: 100%;
      width: 100%;
      font-size: 24px;
      padding: 20px;
    }
    .remove-btn{
      text-align: right;
      background-color: #f1356d;
      color: #fff;
      border: 0;
      padding: 8px;
      margin: 20px;
      border-radius: 8px;
      cursor: pointer;
      transition: all 300ms ease-out;

      &:hover{
        background-color: #fff;
        color: #f1356d;
      }
    }
  }
}

.create-blog{
  max-width: 400px;
  margin: 30px auto;
  text-align: center;

  label{
    text-align: left;
    display: block;
    font-size: 22px;
    font-weight: bold;
  }

  h2{
    font-size: 36px;
    font-weight: bold;
    color: #f1356d;
    margin-bottom: 30px;
  }

  input, textarea, select{
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    display: block;
    font-size: 18px;
  }

  select{
    font-size: 18px;
    font-weight: bold;
  }

  button{
    font-size: 18px;
    font-weight: bold;
    background-color: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 300ms ease-out;

    &:hover{
      background-color: #fff;
      color: #f1356d;
    }
  }
}

.not-found{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title{
    color: #f1356d;
  }

  a{
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #f1356d;

    &:hover{
      color: crimson;
      text-decoration: underline;
    }
  }
}

